doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Ben Hayward
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='The personal website of Ben Hayward, showcasing my programming projects in a variety of languages.')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    // Let the browser know that the website is optimized for mobile
    meta(name='viewport', content='width=device-width')
    // Latest compiled CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='/css/core.css')
    // jQuery library
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    // Latest compiled JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  body
    #home.container-fluid.home
      .row
        .container-fluid.parallax
          .row
            .col-lg-2
            .col-lg-8
              h1
                | Ben Hayward
      .row
        .container-fluid.bottom-center
          .col-12
            p
              a(href='#aboutMe')
                span.fa.fa-chevron-down.chevron-wide
    // Nav bar
    .fixed-top
      | load->view('nav.php')?>
    #aboutMe.container-fluid.about-me
      .container-fluid.parallax
        .row
          .col-lg-12
            .card.align-center
              .card-body
                h1.card-title ABOUT ME
                h6.card-subtitle.mb-2.text-muted
                p.card-text
                p
                  | This website is currently in development. In future I will be adding a personal blog, a 'real' portfolio section and more.
                p
                  | I have a passion for Blockchain and Web technologies, and work actively on various large scale projects spanning from banks to ICOs. 
                  | I am a firm believer in the future of cryptocurrencies and am a firm supporter of the FOSS movement. My skillset includes developing using:
                  ul
                   li Javascript - Primarily in NodeJS/Express/JQuery
                   li Web3/Solidity Smart Contract development.
                   li HyperLedger Fabric, Composer, Cello and other DLTs/Tools
                   li Other decentralized NOSQL solutions, such as GunDB and Orbit. 
                   li Dev-Ops - Deployment and remote management via Apache2/AWS/Azure etc
                   li Linux advocate (Manjaro!), Windows competant.
                   li Penetration Testing (Hobbyist)
                   li Web and Decentralised Architecture
                   li HTML5/CSS3/Bootstrap4/Pug/Jade etc
    script(type='text/javascript').
      $(document).ready(function(){
        document.querySelectorAll('a[href^="#"]').forEach(anchor => {
          anchor.addEventListener('click', function (e) {
              e.preventDefault();
              document.querySelector(this.getAttribute('href')).scrollIntoView({
                behavior: 'smooth'
              });
          });
        });

        $("#scrollbtn").on('click', function(event) {
          if (this.hash !== "") {
            event.preventDefault();
            var hash = this.hash;
            $('html, body').animate({
              scrollTop: $(hash).offset().top
            }, 1300, function(){
              window.location.hash = hash;
            });
          }
        });
      });